/* Custom Fonts */
@font-face {
    font-family: cursedtime;
    src: url(fonts/CursedTimerUlil-Aznm.ttf);
}

/* Base Styles */
body {
    margin: 0;
}

h3 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 0px 15px 0px;
    margin-top: 0px;
    color: #EEEEEE;
}

/* Layout */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #1B244A;
    width: 600px;
    height: 385px;
    margin: 50px auto 0 auto;
    border-radius: 15px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Score Display */
.score {
    background: #080001;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    font-size: 90px;
    font-family: cursedtime;
    line-height: 135px;
    border-radius: 10px;
}

/* Controls */
.incrementors {
    display: flex;
    gap: 10px;
    margin-top: 25px;
    
}

button {
    width: 40px;
    height: 40px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    line-height: 40px;
    font-size: 19px;
    font-family: cursedtime;
    color: #9AABD8;
    background-color: #1B244A;
}

button:hover {
    background-color: #2c386e;
}
button:active {
    background-color: #374584;
}

#new-game, #leader {
    margin-top: 5px;
    width: 140px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 0;
}