.ad-container a{
    color: limegreen;
    font-size: 18px;
}

.links-container a {
    color: dodgerblue;
    font-size: 20px;
    text-decoration: none;
}

.links-container a:hover {
    color: fuchsia;
}
