body {
    margin: 0;
    background-color: #222223;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 70px auto;
}

#upper {
    background-color: #6943FF;
    width: 100%;
    padding-top: 25px;
}

#lower {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    background-color: #1F2937;
    box-sizing: border-box;
    padding: 35px 0px;
    width: 100%;
}

#inpt {
    display: block;
    width: 117px;
    height: 83px;
    background: none;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-size: 55px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 25px auto;
}

#convert-btn {
    width: 117px;
    height: 42px;
    font-size: 17px;
    margin-bottom: 25px;
}

.conversion {
    height: 108.57px;
    width: 500px;
    background-color: #273549;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.8;
}

h2 {
    color: #CCC1FF;
}