body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 18px;
    color: #282828;
}

header {
    background-color: #282828;
    color: whitesmoke;
}

ul {
    margin: 0px;
    padding: 25px;
    list-style-type: none;
    display: flex;
    gap: 10px;
    align-tracks: center;
    font-size: 18px;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

.icon {
    width: 25px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.caption {
    margin: 0px 25px;
}

.item-img {
    width: 100%;
}